<footer>
  <div style="text-align: center;">
      <img class="logo-footer" src="./assets/img/logo/logo.svg">
  </div>


  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto mx-5">
        <a class="footer-link" href="#">
            Team
        </a>
      </div>
      <div class="col-md-auto mx-5">
        <a class="footer-link" href="#">
            About
        </a>
      </div>
      <div class="col-md-auto mx-5">
        <a class="footer-link" href="#">
            Event
        </a>
      </div>
    </div>
  </div>

  <hr class="line-footer mx-auto" width="950">

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto mx-4">
        <a class="icon-link" href="#">
          <img src="./assets/img/icons/google.svg" alt="">
        </a>
      </div>
      <div class="col-md-auto mx-4">
        <a class="icon-link" href="#">
          <img src="./assets/img/icons/instagram.svg" alt="">
        </a>
      </div>
      <div class="col-md-auto mx-4">
        <a class="icon-link" href="#">
          <img src="./assets/img/icons/linkedin.svg" alt="">
        </a>
      </div>
    </div>
  </div>

  <div class="text-center p-3">
    All Rights Reserved by GDSC Waseda
  </div>
</footer>

