<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <!-- アイコンか"GDSC"をクリックすると、別のページへジャンプ -->
        <img src="./assets/img/logo.svg" alt="" width="30" height="24" class="d-inline-block align-top">
        GDSC
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
            <a class="nav-link" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Teams</a>
            <a class="nav-link" href="#">Events</a>
            <button type="button" class="btn rounded-pill btn-outline-dark">Join Us</button>
        </div>
        </div>
    </div>
    </nav>
</header>




